.dsspnangcao_body {
  margin: auto !important;
  text-align: center;
  .dsspnangcao_boloc {
    .dsspnangcao_boloc_nangcao {
      width: 15%;
    }
    .Input_giaTIen {
      width: 35%;
      margin-top: 10px;
      .slider-container {
        position: relative;
        width: 40%;
        max-width: 600px;
        .slider {
          // -webkit-appearance: none;
          appearance: none;
          width: 100%;
          height: 15px;
          background: transparent; /* Make the sliders transparent */
          position: absolute;
          z-index: 2;
          pointer-events: none; /* Make the sliders not interactable */
        }
        .slider::-moz-range-thumb {
          width: 10px;
          height: 10px;
          background: #4caf50;
          cursor: pointer;
          border-radius: 50%;
          pointer-events: all; /* Make the thumbs interactable */
        }
        .slider-track {
          position: absolute;
          top: 7px;
          left: 87px;
          right: 0;
          height: 10px;
          width: 145px;
          background-color: #d3d3d3;
          border-radius: 10px;
          pointer-events: none;
          transform: translateY(-50%);
        }

        .slider::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 15px;
          height: 15px;
          background: blue;
          cursor: pointer;
          border-radius: 50%;
          pointer-events: all; /* Make the thumbs interactable */
        }
        .value-display {
          position: absolute;
          top: 15px;
          font-size: 20px;
          color: #333;
        }
      }
    }
  }
  .dsspnangcao_dssp {
    min-height: 515px;
    margin-top: 30px;
    .dsspnangcao_sp {
      //border: 1px solid black !important;
      margin: 10px 0px;
      .dsspnangcao_spct {
        width: 90%;
        // height: 280px;
        min-height: 250px;
        padding-bottom: 10px;
        // border: 1px solid black !important;
        background-color: antiquewhite;
        img {
          width: 130px !important;
          height: 130px;
          background-color: rgb(56, 146, 83);
        }
      }
    }
  }
  .dsspnangcao_phantrang {
    width: 50%;
    margin: 45px auto !important;
    display: flex !important;

    .dsspnangcao_phantrangchititet {
      margin: auto;
    }
  }
}
