.thongke {
  h1 {
    color: red;
  }
.input{
  width: 300px;
    padding: 5px;
    border: 2px solid #ccc;
    box-sizing: border-box;
}
.kiemtra{
  background-color: gray;
  color: white;
  border: none;
  padding: 5px 15px;
  text-align: right;
  text-decoration: none;
  margin: 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}
.DanhMucHienThi{
  font-size: 30px;
  text-align: center;
}
}

.card-stats {
  height: 100%; /* Chiều cao tối đa cho thẻ */
}

.card-body-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-body-wrapper .row {
  flex: 1; /* Cho phép phần nội dung co dãn để điền vào chiều cao */
}

.card-body-wrapper .col-3 {
  flex: 0 0 30%; /* Phần trăm chiều rộng cố định cho cột 1 */
}

.card-body-wrapper .col-9 {
  flex: 1; /* Phần nội dung nở rộng, điền vào khoảng cách được phép */
}


.card {
  height: 100%; /* Chiều cao tối đa cho thẻ */
}

.row {
  display: flex;
  flex-wrap: wrap; /* Flexbox wrap để các cột có thể xuống dòng khi cần */
}

.col-8,
.col-4 {
  display: flex;
}

.col-8 .card-body,
.col-4 .card-body {display: flex;
  flex-direction: column; /* Sử dụng flexbox để canh chỉnh nội dung */
  justify-content: space-between; 
  }
  .table-custom th,
.table-custom td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}

/* Tùy chỉnh màu chữ trong header */
.table-custom thead th {
  color: #333;
}

/* Tùy chỉnh hàng nằm dưới cùng */
.table-custom tbody tr:last-child td {
  border-bottom: none;
}

/* Tùy chỉnh màu nền cho các hàng chẵn */
.table-custom tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Tùy chỉnh màu nền khi di chuột vào */
.table-custom tbody tr:hover {
  background-color: #f1f1f1;
}
  


