.content1 {
  img {
    width: 100%;
  }
}
.homepage-top-khung {
  overflow: hidden; /* Ẩn phần ảnh bị tràn ra ngoài */
  position: relative;
  width: 540px;
  height: 620px;
  img {
    width: 100%;
    height: 100%;
    transition: transform 3s ease;
  }
}
.homepage-top-khung:hover img {
  transform: scale(1.2); /* Phóng to ảnh khi hover */
}
.homepage-top {
  width: 80%;
  padding-top: 10px;

  .homepage-top-lay1 {
    position: relative;
  }
  .btn {
    display: inline-block;
    padding: 13px 20px;
    color: rgb(234, 227, 227);
    text-decoration: none;
    position: absolute;
    background: transparent;
    border: 1px solid #e1e1e1;
    font: 12px/1.2 "Oswald", sans-serif;
    letter-spacing: 0.4em;
    text-align: center;
    text-indent: 2px;
    text-transform: uppercase;
    transition: color 0.1s linear 0.05s;
    top: 520px;
    left: 180px;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background: #e1e1e1;
      z-index: 1;
      opacity: 0;
      transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0.2s;
    }

    &::after {
      transition: border 0.1s linear 0.05s;
    }

    .btn-inner {
      position: relative;
      z-index: 2;
    }

    &:hover {
      color: rgb(31, 30, 30);
      transition: color 0.1s linear 0s;

      &::before {
        top: 0;
        height: 100%;
        opacity: 1;
        transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0s;
      }

      &::after {
        border-color: #2b2a2a;
        transition: border 0.1s linear 0s;
      }
    }
  }
}
.homepage-content {
  text-align: center;
  margin-top: 30px;
  .sanphammoi {
    height: 300px;
    width: 90%;
    margin: auto;
    background-color: rgb(249, 246, 246);
    position: relative;
    .sanphammoi-content {
      padding-top: 30px;
    }
    .slick-dots {
      display: none !important;
    }
    .slick-prev {
      width: 45px !important;
      height: 70px !important;
      opacity: 0.3 !important;
      position: absolute;
      top: 100px;
      left: 60px;
      z-index: 3;
      background-color: gray !important;
    }
    .slick-prev :hover {
      color: red;
      opacity: 1 !important;
    }
    .slick-next {
      width: 45px !important;
      height: 70px !important;
      opacity: 0.3 !important;
      position: absolute;
      top: 100px;
      left: 1300px;
      z-index: 3;
      background-color: gray !important;
    }
  }

  .sanphamhot {
    height: 300px;
    background-color: green;
  }
}
