// .content{
//     flex-grow: 1;
//   }
//   .quanlydoidiem {
//     h1 {
//       color: red;
//     }
//     h2 {
//       color: green;
//     }
//     * {
//       margin: 0;
//       padding: 0;
//       box-sizing: border-box;
//   }
//   .search{
//     text-align: center;
//   }
//   .search input{
  
//       max-width: 600px;
//       width:40%;
//       text-align: center;
//   }
//   .TableDoiDiem{
//     font-size: 30px;
//     text-align: center; 
//   }
//   .table{
//     text-align: center;
//   }
//   .doidiem{
//     text-align: right;
//   }
//   .doidiem button {
//     background-color: rgb(131, 12, 12);
//     color: white;
//     border: none;
//     padding: 5px 15px;
//     text-align: right;
//     text-decoration: none;
//     margin: 2px;
//     cursor: pointer;
//     border-radius: 4px;
//     transition: background-color 0.3s;
//   }
//   .CRUD button{
//     background-color: gray;
//     color: white;
//     border: none;
//     padding: 5px 15px;
//     text-align: right;
//     text-decoration: none;
//     margin: 2px;
//     cursor: pointer;
//     border-radius: 4px;
//     transition: background-color 0.3s;
//   }
//   }