.banhangofline {
  // background-color: rgb(185, 192, 195);
  height: 680px;
  // padding: 10px !important;
  .banhangof_content {
    .BanHangof_DSHoaDonCho {
      height: 340px;
      border: 1px solid black;
      margin-bottom: 5px;
      border-radius: 5px;
      overflow-y: scroll;
    }
    .HoaDonChoTable .table-danger {
      background-color: #f4d0d0; /* Adjust color for invoice with details */
    }

    .HoaDonChoTable .selected-row {
      background-color: #e0e0e0; /* Adjust color for selected row */
      font-weight: bold;
      scale: 1.02;
    }

    .BanHangof_giohang {
      height: 890px;
      .BanHangof_giohang_thongtin {
        height: 22%;
        border: 1px solid black;
        border-radius: 5px;
      }
      .BanHangof_giohang_sanphamdamua {
        height: 64%;
        border: 1px solid black;
        border-radius: 5px;
        margin-top: 1%;
      }
    }
  }
  .banhangof_hoadon {
    height: 1477px;
    border: 1px solid black;
    border-radius: 5px;
    .BanHangof_khachhang {
      height: 300px;
      margin-bottom: 5px;
      border-radius: 5px;
      .form_khachhang_banhangofline {
        margin: 5px 5px;
        input {
          width: 100%;
          margin: 10px 10px;
        }
        input::placeholder {
          color: rgb(168, 164, 162);
        }

        .banhangofline_title {
          margin-left: 5px;
          border-radius: 10px;
          width: 100%;
          text-align: center;
          background-color: antiquewhite;
          h3 {
            margin-top: 10px;
          }
        }
      }
      button {
        padding: 5px 10px 3x 10px;
        height: 35px;
        margin-top: 10px;
      }
    }
  }
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}
